- provide(:title, "Log into Siwapp")
.row
  .col-md-6.offset-md-3
    %h1.m-b-2 Log in
    = form_for(:session, url: login_path) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .checkbox
        = f.label :remember_me, class: "checkbox inline" do
          = f.check_box :remember_me
          Remember me on this computer
      = f.submit "Log in", class: "btn btn-primary m-t-2"
