%h1="Inventory LIST"
%div
  = link_to 'Add Inventory', new_inventory_path
%div{data: {role: 'infinite-scroll'}}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th.text-center="Name"
          %th.text-center="Price"
          %th.text-center="Category"
          %th.text-center="Actions"
      %tbody{data: {role: 'infinite-content'}}
        - @inventories.each_with_index do |inventory, i|
          %tr
            %td.no-wrap.text-center= inventory.name
            %td.text-center= inventory.price
            %td.text-center= Category.find(inventory.category_id).name
            %td.text-center
              = link_to 'Edit', edit_inventory_path(inventory), class: "btn btn-primary"
              = link_to 'Delete', inventory_path(inventory), method: :delete, class:"btn btn-danger"
  .content-loading.hide{data: {role: 'infinite-status'}}
    .spinner
