= form_for @invoice, data: {role: 'invoice', controller: controller_name, model: controller_name.classify.underscore}, html: {class: 'invoice'} do |f|

  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize @invoice.errors.count, "error"
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message

  %fieldset.m-b-2
    %legend.m-b-1 Customer
    = render partial: 'customers/form_fields', locals: {f: f}

    %div
      = f.label :customer_id, "Customer id (this will be hidden)"
      = f.text_field :customer_id

  %fieldset.m-b-2{"data-changes" => "amount"}
    %legend.m-b-1 Invoice details

    .row
      .col-xs-12.col-sm-4
        .form-group
          = f.label :series
          = f.collection_select :series_id, @series, :id, :to_s, is_new ? { selected: @default_series_id} : {}, {multiple: false, class: 'form-control c-select'}
      .col-xs-12.col-sm-4
        .form-group
          = f.label :issue_date
          = f.date_field :issue_date,  is_new ? {class: 'form-control', value: Date.today()} : {class: 'form-control'}
      .col-xs-12.col-sm-4
        .form-group
          = f.label :due_date
          = f.date_field :due_date,  is_new ? {class: 'form-control', value: Date.today() + Integer(Settings.days_to_due).days} : {class: 'form-control'}

    - if @invoice.new_record? or @invoice.draft
      .checkbox
        %label
          = f.check_box :draft
          Draft

    = render partial: 'shared/item_form', locals: {f: f, items: :items, invoice: @invoice}

  - unless @invoice.new_record?
    %fieldset.m-b-2{data: {changes: 'amount'}}
      %legend.m-b-1 Payments

      #js-payments-table.invoice-table
        = f.fields_for :payments, include_id: false  do |payment_form|
          = render partial: 'payment_fields', locals: {f: payment_form}

      .invoice-table-actions
        = link_to_add_association 'Add Payment', f, :payments,    |
          'data-association-insertion-node' => '#js-payments-table', |
          'data-association-insertion-method' => 'append',        |
          :class => 'btn btn-secondary'                           |

  %fieldset.m-b-2
    %legend.m-b-1 Meta
    = render partial: 'shared/tagging_field', locals: {f: f, instance: @invoice}
