<%= form_for @invoice, data: {model: 'invoice'}  do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @invoice.errors.count, "error" %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <% if @invoice.new_record? or @invoice.draft %>
      <%= f.label :serie %> <%= f.collection_select :serie_id, @series, :id, :name, {include_blank: true} %><br/>
    <% end %>
    <%= f.label :customer_name %> <%= f.text_field :customer_name %><br/>
    <%= f.label :customer_email %> <%= f.email_field :customer_email %><br/>
    <%= f.label :due_date %> <%= f.date_field :due_date %><br/>
    <% if @invoice.new_record? or @invoice.draft %>
      <%= f.check_box :draft %> <%= f.label :draft %>
    <% end %>
  </p>

  <fieldset id="items">
    <legend>Items</legend>

    <%= f.fields_for :items  do |item_form| %>
      <%= render partial: 'item_fields', locals: {f: item_form} %>
    <% end %>
  </fieldset>
  <%= link_to_add_association 'add item', f, :items, 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#items' %>

  <% unless @invoice.new_record? %>
    <fieldset id="payments">
      <legend>Payments</legend>

      <%= f.fields_for :payments  do |payment_form| %>
        <%= render partial: 'payment_fields', locals: {f: payment_form} %>
      <% end %>
    </fieldset>

    <%= link_to_add_association 'add payment', f, :payments, 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#payments' %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="amounts">
  <%= render partial: 'amounts', locals: {invoice: @invoice} %>
</div>

<p><%= link_to 'Calculate', invoice_amounts_path, remote: true, class: "calculate-amounts"%></p>
