<%= form_for @invoice, data: {controller: controller_name}, html: {class: 'js-invoice-like'} do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @invoice.errors.count, "error" %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <% if @invoice.new_record? or @invoice.draft %>
      <%= f.label :serie %> <%= f.collection_select :serie_id, @series, :id, :name, {include_blank: true} %><br/>
    <% else %>
      <%= @invoice %><br>
    <% end %>
    <%= f.label :customer_name %> <%= f.text_field :customer_name %><br/>
    <%= f.label :customer_email %> <%= f.email_field :customer_email %><br/>
    <%= f.label :issue_date %> <%= f.date_field :issue_date %><br/>
    <%= f.label :due_date %> <%= f.date_field :due_date %><br/>
    <% if @invoice.new_record? or @invoice.draft %>
      <%= f.check_box :draft %> <%= f.label :draft %>
    <% end %>
  </p>

  <%= render partial: 'shared/tagging_field', locals: {f: f, instance: @invoice} %>
  <%= render partial: 'shared/item_form', locals: {f: f, items: :items} %>

  <% unless @invoice.new_record? %>
    <fieldset data-changes="amount">
      <legend>Payments</legend>

      <%= f.fields_for :payments  do |payment_form| %>
        <%= render partial: 'payment_fields', locals: {f: payment_form} %>
      <% end %>

      <%= link_to_add_association 'add payment', f, :payments,
            'data-association-insertion-node' => 'this',
            'data-association-insertion-method' => 'before' %>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="amounts">
  <%= render partial: 'amounts', locals: {invoice: @invoice} %>
</div>

