<%= form_for @invoice, data: {controller: controller_name, model: controller_name.classify.underscore}, html: {class: 'js-invoice-like'} do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @invoice.errors.count, "error" %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Customer Information</h2>
  <%= render partial: 'customers/form_fields', locals: {f: f} %>
  <%= f.label :customer_id, "Customer id (this will be hidden)" %> <%= f.text_field :customer_id %>

  <h2>Invoice detail</h2>
  <div class="row">
    <div class="col-sm-4"><%= f.label :series %> <%= f.collection_select :series_id, @series, :id, :to_s, is_new ? { selected: @default_series_id} : {}, {multiple: false} %></div>
    <div class="col-sm-4"><%= f.label :issue_date %> <%= f.date_field :issue_date %></div>
    <div class="col-sm-4"><%= f.label :due_date %> <%= f.date_field :due_date %></div>
  </div>

  <% if @invoice.new_record? or @invoice.draft %>
    <%= f.check_box :draft %> <%= f.label :draft %>
  <% end %>


  <%= render partial: 'shared/item_form', locals: {f: f, items: :items} %>

  <% unless @invoice.new_record? %>
    <fieldset data-changes="amount">
      <legend>Payments</legend>

      <%= f.fields_for :payments  do |payment_form| %>
        <%= render partial: 'payment_fields', locals: {f: payment_form} %>
      <% end %>

      <%= link_to_add_association 'add payment', f, :payments,
            'data-association-insertion-node' => 'this',
            'data-association-insertion-method' => 'before' %>
    </fieldset>
  <% end %>

  <%= render partial: 'shared/tagging_field', locals: {f: f, instance: @invoice} %>

<% end %>

<div id="amounts">
  <%= render partial: 'amounts', locals: {invoice: @invoice} %>
</div>