%tr{data: {href: invoice_path(invoice), itemid: invoice.id, page_start: invoice_counter.zero?, page: current_page }}
  %td.table-select{"data-no-href": ""}= check_box_tag "invoice_ids[]", invoice.id, false, {"data-role": "select-row", id: "invoice_ids_#{invoice.id}"}
  %td.no-wrap= link_to invoice, invoice
  %td.no-wrap= invoice.name
  %td.no-wrap= invoice.issue_date
  %td.text-center
    - if invoice.sent_by_email
      = material_icon.done.css_class('green')
    - else
      = material_icon.clear.css_class('red')
  %td.text-center
    %span{class: "status #{invoice.get_status}"}= invoice.get_status
  %td.text-right.no-wrap= invoice.unpaid_amount > 0.0 ? display_money(invoice.unpaid_amount, invoice.currency) : ""
  %td.text-right.no-wrap= display_money invoice.gross_amount, invoice.currency
