%tr{data: {href: invoice_path(invoice), itemid: invoice.id, page_start: invoice_counter.zero?, page: current_page }}
  %td.text-center{data: {role: "select"}}= check_box_tag "invoice_ids[]", invoice.id
  %td.no-wrap= link_to invoice, invoice
  %td.no-wrap= invoice.name
  %td.no-wrap= invoice.issue_date
  %td.text-center
    - if invoice.sent_by_email
      %i.material-icons.green  done
    - else
      %i.material-icons.red  clear
  %td.text-center= invoice.get_status
  %td.text-right.no-wrap= invoice.unpaid_amount > 0.0 ? display_money(invoice.unpaid_amount) : ""
  %td.text-right.no-wrap= display_money invoice.gross_amount
