%tr{:data => {:href => invoice_path(invoice)}}
  %td{:data => {:role => "select"}}= check_box_tag "invoice_ids[]", invoice.id
  %td= link_to invoice, invoice
  %td= invoice.name
  %td= invoice.issue_date
  %td= invoice.get_status
  %td{:align => "right"}= invoice.unpaid_amount > 0.0 ? display_money(invoice.unpaid_amount) : ""
  %td{:align => "right"}= display_money invoice.gross_amount
