%tr{data: {href: invoice_path(invoice)}}
  %td.text-center{data: {role: "select"}}= check_box_tag "invoice_ids[]", invoice.id
  %td.no-wrap= link_to invoice, invoice
  %td.no-wrap= invoice.name
  %td.no-wrap= invoice.issue_date
  %td.text-center= invoice.get_status
  %td.text-right= invoice.unpaid_amount > 0.0 ? display_money(invoice.unpaid_amount) : ""
  %td.text-right= display_money invoice.gross_amount
