<tr class="clickable-row" data-href="<%= invoice_path(invoice) %>">
  <td><%= link_to invoice, invoice %></td>
  <td><%= invoice.customer_name %></td>
  <td><%= invoice.issue_date %></td>
  <td><%= invoice.due_date %></td>
  <td><%= invoice.get_status %></td>
  <td><%= invoice.unpaid_amount %></td>
  <td><%= invoice.gross_amount %></td>
  <td><%= link_to 'Show', invoice %></td>
  <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
  <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
