      <li class="nested-fields">
	<%= f.label :description %> <%= f.text_area :description %>
	<%= f.label :quantity %> <%= f.text_area :quantity %>
	<%= f.label :unitary_cost %> <%= f.text_field :unitary_cost %> 
        TAX??<%= f.label :taxes %><%= f.collection_select 'tax_ids', @taxes, :id, :name, {}, {multiple: true, names: 'invoice[items_attributes][0][tax_ids[]]'} %>
        <%= link_to_remove_association 'remove item', f %>
      </li>
