.invoice-row.invoice-payment.js-payment
  .invoice-col.form-group
    = f.label :date
    = f.date_field :date, class: 'form-control'
  .invoice-col.invoice-col--description.form-group
    = f.label :notes
    = f.text_area :notes, class: "form-control", rows: 1
  .invoice-col.invoice-col--amount.form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'

  = link_to_remove_association f, {wrapper_class: 'js-payment', class: 'destroy-icon'} do
    = material_icon.delete
    %span Remove Payment

  = f.hidden_field :id
