.invoice-row.js-payment
  = f.hidden_field :id
  = link_to_remove_association f, {wrapper_class: 'js-payment', class: 'destroy-icon'} do
    %i.material-icons delete
  .row

    .col-xs-12.col-sm-6.col-md-3
      .form-group
        = f.label :date
        = f.date_field :date, class: 'form-control'
    .col-xs-12.col-sm-12.col-md-7
      .form-group
        = f.label :notes
        = f.text_area :notes, class: "form-control item-description", rows: 1
    .col-xs-12.col-sm-6.col-md-2
      .form-group
        = f.label :amount
        = f.text_field :amount, class: 'form-control'
