.row
  .col-xs-12.col-md-6
    .row
      .col-xs-12.col-sm-6
        .form-group
          = f.label :issue_date_gteq, "Issue Date from: "
          = f.date_field :issue_date_gteq, class: "form-control"
      .col-xs-12.col-sm-6
        .form-group
          = f.label :issue_date_lteq, "to: "
          = f.date_field :issue_date_lteq, class: "form-control"
  .col-xs-12.col-md-6
    .row
      .col-xs-12.col-sm-6
        .form-group
          = f.label :series_id_eq, "Series:"
          = f.collection_select :series_id_eq, Series.all, :id, :to_s, {include_blank: 'Choose…'}, {class: 'form-control c-select'}
      .col-xs-12.col-sm-6
        .form-group
          = f.label :with_status, "Status:"
          = f.select :with_status, Invoice::status_collection, {include_blank: 'Choose…'}, {class: 'form-control c-select'}

= render 'shared/searchform__tagsfield'

// In order to filter by meta_attributes
// we do this out of ransack
.row
  .col-xs-12.col-md-6
    .row
      .col-xs-12.col-sm-6
        .form-group
          = label_tag :meta
          = text_field_tag :meta, "", class: "form-control"

.row
  .col-md-12
    = link_to 'Export to CSV', '#', class: 'btn btn-primary', data: {role: 'csv-form'}
    %button.btn.btn-primary.pull-xs-right{type: 'submit'} Search
