<p>
  <%= f.label :issue_date_gteq, "Issue Date from: " %>
  <%= f.date_field :issue_date_gteq %>
  <%= f.label :issue_date_lteq, "to: " %>
  <%= f.date_field :issue_date_lteq %>
</p>
<p>
  <%= f.label :due_date_gteq, "Due Date from: " %>
  <%= f.date_field :due_date_gteq %>
  <%= f.label :due_date_lteq, "to: " %>
  <%= f.date_field :due_date_lteq %>
</p>
<%= render 'shared/searchform__tagsfield' %>
<p>
  <%= f.label :series_id_eq, "Series:" %>
  <%= f.collection_select :series_id_eq, Series.all, :id, :to_s, include_blank: true %>
</p>
<p>
  <%= f.label :with_status, "Status:" %>
  <%= f.select :with_status, Invoice::status_collection, include_blank: true %>
</p>

<p><b>TODO:</b></p>
<ul>
  <li>Search by item description in the with_terms scope</li>
  <li>Use a pretty selector for date range search. Create a partial to reuse it.</li>
  <li>Try to use <a href="https://github.com/rails/arel">Arel</a> instead of SQL conditions (evaluate benefits)</li>
  <li>
    Column sorting
    <ul>
      <li>Invoice number (series + number)</li>
      <li>Issue Date</li>
      <li>Due Date</li>
      <li>Creation Date</li>
      <li>Update Date</li>
      <li>Status</li>
      <li>Customer Name</li>
    </ul>
  </li>
</ul>
