<fieldset class="form-group">
  <%= f.label :issue_date_gteq, "Issue Date from: " %>
  <%= f.date_field :issue_date_gteq, class: "form-control" %>
  <%= f.label :issue_date_lteq, "to: " %>
  <%= f.date_field :issue_date_lteq, class: "form-control" %>
</fieldset>
<%= render 'shared/searchform__tagsfield' %>
<fieldset class="form-group">
  <%= f.label :series_id_eq, "Series:" %>
  <%= f.collection_select :series_id_eq, Series.all, :id, :to_s, include_blank: true, class: 'form-control' %>
</fieldset>
<p>
  <%= f.label :with_status, "Status:" %>
  <%= f.select :with_status, Invoice::status_collection, include_blank: true, class: 'form-control' %>
</p>

<p><b>TODO:</b></p>
<ul>
  <li>Search by item description in the with_terms scope</li>
  <li>Use a pretty selector for date range search. Create a partial to reuse it.</li>
  <li>Try to use <a href="https://github.com/rails/arel">Arel</a> instead of SQL conditions (evaluate benefits)</li>
  <li>If there are advanced filters in the URL, display the advanced filters section when page is loaded.</li>
</ul>
