%h1 Editing Invoice
= render partial: 'form', locals: { is_new: false }
.action-buttons
  = link_to 'Back', :back, class: 'btn btn-primary'
  = link_to 'Delete', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Send Email', send_email_invoice_path, class: 'btn btn-primary'
  - if @template_url
    = link_to 'PDF', @template_url + '.pdf', class: 'btn btn-primary'
  = link_to 'Save', '#', class: 'btn btn-success', data: {role: 'submit-form', target: 'form[data-role="invoice"]'}
