= render partial: 'form'

.action-buttons{"data-role": "action-buttons"}
  = link_to t("delete"), @invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-xs-left no-margin'

  = link_to t("back"), :back, class: 'btn btn-secondary'

  = link_to t("send email"), send_email_invoice_path, class: 'btn btn-primary'
  = link_to t("download pdf"), print_invoice_path(:format=>:pdf) , class: 'btn btn-primary'
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form[data-role="invoice"]'}}=t("save")
