.section-hd
  %h1 Invoices
  %button#js-section-info-button.btn.dropdown-toggle.section-hd__action{type: "button", data: {toggle: "collapse", target: "#js-section-info"}}= display_money @gross

#js-section-info.section-summary.collapse
  %ul.list-group.list-unstyled
    %li
      Total Gross
      %span.label.label-default.label-pill.pull-right= display_money @gross
    %li
      Total Net
      %span.label.label-default.label-pill.pull-right= display_money @net
    %li
      Total Tax
      %span.label.label-default.label-pill.pull-right= display_money @tax

= form_tag remove_invoices_path, method: :delete, id: 'js-list-form' do
  %div{data: {role: 'infinite-scroll'}}
    .table-responsive
      %table.table.table-hover.table-striped.table-bordered
        %thead
          %tr
            %th{data: {role: "select-all"}}= check_box_tag "select_all", 1
            %th.no-wrap= sort_link(@search, :series_value, "Number")
            %th.no-wrap= sort_link(@search, :name, "Customer Name")
            %th.no-wrap= sort_link(@search, :issue_date, "Date")
            %th.text-center= sort_link(@search, :status, "Status")
            %th.text-right Pending
            %th.text-right= sort_link(@search, :gross_amount, "Total")
        %tbody{data: {role: 'infinite-content'}}= render @invoices
    .content-loading.hide{data: {role: 'infinite-status'}}
      .spinner

.action-buttons
  = link_to 'Remove Selected', '#', class: 'btn btn-danger', data: {role: 'submit-form', target: '#js-list-form'}
