<% content_for :search_form do %>
  <%= form_tag("/invoices", :method => "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:search_term) %>
    <%= submit_tag("Search") %>
  <% end %>
<% end %>
<h1>Listing invoices</h1>

<%= link_to 'New Invoice', new_invoice_path %>
<table class="table">
  <tr>
    <th>Customer name</th>
    <th>Customer identification</th>
    <th>Customer email</th>
    <th>Base amount</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render 'invoices' %>
</table>

<br />

