<%= render partial: 'advanced_search', locals: {filterrific: @filterrific} %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% content_for :new_link do %>
<a class="btn btn-primary" href="<%= new_invoice_path %>" role="button">New Invoice</a>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Customer Name</th>
      <th>Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Pending</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @invoices %>
  </tbody>
</table>


