.row
  .col-xs-12.col-md-4.col-md-push-8
    %ul.list-group.list-unstyled
      %li
        Total Gross
        %span.label.label-default.label-pill.pull-right= display_money @gross
      %li
        Total Net
        %span.label.label-default.label-pill.pull-right= display_money @net
      %li
        Total Tax
        %span.label.label-default.label-pill.pull-right= display_money @tax

= form_tag remove_invoices_path, :method => :delete do
  = submit_tag 'Remove Selected'
  %div{data: {role: 'infinite-scroll'}}
    .table-responsive
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th{:data => {:role => "select-all"}}= check_box_tag "select_all", 1
            %th= sort_link(@search, :series_value, "Number")
            %th= sort_link(@search, :name, "Customer Name")
            %th= sort_link(@search, :issue_date, "Date")
            %th= sort_link(@search, :status, "Status")
            %th{:style => "text-align:right"} Pending
            %th{:style => "text-align:right"}= sort_link(@search, :gross_amount, "Total")
        %tbody{data: {role: 'infinite-content'}}= render @invoices
    .content-loading.hide{data: {role: 'infinite-status'}}
      = image_tag("balls.svg", alt: "Loading...", class: "loader")
