<% title("Siwapp", "Invoices", @invoice.customer_name)  %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p><%= @invoice %></p>
<p><%= @invoice.customer_name %></p>

<% if @invoice.items.any? %>
  <h2>Items</h2>
  <ul>
    <% @invoice.items.each do |item| %>
      <li><%= item.description %></li>
    <% end %>
  </ul>
<% end %>

<% if @invoice.payments.any? %>
  <h2>Payments</h2>
  <ul>
    <% @invoice.payments.each do |payment| %>
      <li><%= payment.date %> - <%= payment.amount %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
