<% title("Siwapp", "Invoices", @invoice.name)  %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<iframe src="<%= @template_url %>" width="100%" height="900"></iframe>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> |
<%= link_to 'PDF', @template_url + '.pdf' %>
<br/><br/>
