<p id="notice"><%= notice %></p>

<p>
  <b>Customer name:</b>
  <%= @invoice.customer_name %>
</p>

<p>
  <b>Customer identification:</b>
  <%= @invoice.customer_identification %>
</p>

<p>
  <b>Customer email:</b>
  <%= @invoice.customer_email %>
</p>

<p>
  <b>Base amount:</b>
  <%= @invoice.base_amount %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
