= form_for(@template) do |f|
  - if @template.errors.any?
    #error_explanation
      %h2
        = pluralize(@template.errors.count, "error")
        prohibited this template from being saved:
      %ul
        - @template.errors.full_messages.each do |message|
          %li= message

  .row
    .col-xs-12.col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :template
    = f.text_area :template, { class: 'form-control code-editor', rows: 20 }

  .form-group
    = f.label :subject
    = f.text_field :subject, { class: 'form-control' }
