%h1=t("templates")

= form_tag url_for({:controller => "templates", :action => "set_default"}), :method => :post, :class => "change_default"  do
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th.table-select.text-nowrap="#{t("default")}#{t("email")}"
          %th.table-select.text-nowrap="#{t("default")} PDF" 
          %th=t("name")
      %tbody
        - @templates.each do |template|
          %tr
            %td.table-select
              = radio_button_tag 'email_default_template', template.id, checked=template.email_default, {"data-role": "select-default"}
            %td.table-select
              = radio_button_tag 'print_default_template', template.id, checked=template.print_default, {"data-role": "select-default"}
            %td= link_to template.name, edit_template_path(template)
