<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="user_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= render partial: 'users/form_fields', locals: {f: f} %>
  </p>

  <div class="actions">
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>