<% content_for :advanced_search do %>
  <p>Advanced Search Options for Recurring Invoices</p>
  <%= form_for_filterrific @filterrific, html: {id: "my_filterrific_filter"} do |f| %>
  <div class="form-group">
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
    :terms,
    class: 'no-filterrific-periodically-observed',
    placeholder: 'Search'
    ) %>
  </div>
  <div class="form-group">
    Series
    <%= f.select(
      :with_series_id,
      @filterrific.select_options[:with_series_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div class="btn-group">
    <%= f.submit 'Filter', class: "btn btn-primary" %>
  </div>
  <div class="btn-group">
    <%= link_to(
    'Reset filters',
    reset_filterrific_url,
    ) %>
  </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%#= render_filterrific_spinner %>
  <% end %>
<% end %>

