.invoice-row.js-item
  = f.hidden_field :id
  = link_to_remove_association f, {wrapper_class: 'js-item', class: 'destroy-icon'} do
    %i.material-icons remove_circle
  .row
    .col-xs-12.col-md-4.col-lg-4
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control item-description", rows: 1

    .col-xs-12.col-md-4.col-lg-5
      .row
        .col-xs-4
          .form-group
            = f.label :quantity
            = f.text_field :quantity, class: 'form-control quantity'
        .col-xs-4
          .form-group
            = f.label :unitary_cost, 'Cost'
            = f.text_field :unitary_cost, class: 'form-control unitary-cost'
        .col-xs-4
          .form-group
            = f.label :discount
            = f.text_field :discount, class: 'form-control'

    .col-xs-12.col-md-4.col-lg-3
      .row
        .col-xs-12.col-sm-6
          .form-group
            = f.label :tax_ids, 'Taxes'
            = f.collection_check_boxes 'tax_ids', @taxes, :id, :name, is_new ? {checked: @default_taxes_ids} : {}, { multiple: true, class: 'form-control' }
        .col-xs-12.col-sm-6
          .form-group.no-margin
            = f.label :base_amount, 'Total'
            %p.form-control-static.js-base-amount= f.object.base_amount
            = f.hidden_field :base_amount, {data: {role: 'base-amount'}}
