.invoice-row.js-item
  = f.hidden_field :id
  = link_to_remove_association f, {wrapper_class: 'js-item', class: 'destroy-icon'} do
    %i.material-icons delete

  .row
    .col-xs-12.col-md-4.col-lg-4
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control item-description", rows: 1

    .col-xs-12.col-md-4.col-lg-5
      .row
        .col-xs-4
          .form-group
            = f.label :quantity
            = f.text_field :quantity, class: 'form-control quantity'
        .col-xs-4
          .form-group
            = f.label :unitary_cost, 'Price'
            = f.text_field :unitary_cost, class: 'form-control unitary-cost'
        .col-xs-4
          .form-group
            = f.label :discount
            = f.text_field :discount, class: 'form-control discount'

    .col-xs-12.col-md-4.col-lg-3
      .row
        .col-xs-12.col-sm-6
          .form-group.tax-selector
            %label
              Taxes
              %span{data: {role: 'total'}}
            .btn-group
              = f.collection_select :tax_ids, @taxes, :id, :to_s, is_new ? { selected: @default_taxes_ids} : {}, {class: 'form-control c-select taxes-selector', multiple: true}

        .col-xs-12.col-sm-6
          .form-group.no-margin
            = f.label :net_amount, 'Total'
            %p.form-control-static.js-net-amount= f.object.net_amount
            = f.hidden_field :net_amount, {data: {role: 'net-amount'}}
