<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">siwapp</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="<%= active_link('dashboard') %>"><a href="#">Dashboard</a></li>
        <li class="<%= active_link('invoices') %>"><%= link_to 'Invoices', invoices_path %></li>
        <li class="<%= active_link('recurring_invoices') %>"><%= link_to 'Recurring Invoices', recurring_invoices_path %></li>
        <li class="<%= active_link('customers') %>"><%= link_to 'Customers', customers_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="visible-xs-inline">Configuration</span>
            <span class="hidden-xs glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Global Configuration</a></li>
            <li><a href="#">My Configuration</a></li>
            <li class="divider"></li>
            <li><a href="<%= series_index_path %>">Series</a></li>
            <li><a href="<%= taxes_path %>">Taxes</a></li>
            <li><a href="<%= templates_path %>">Templates</a></li>
            <li class="divider"></li>
            <li><a href="#">Modules</a></li>
          </ul>
        </li>
      </ul>

      <div class="btn-group navbar-btn navbar-right hidden-xs">
        <!-- TODO: This is going to break in a different controller like configuration -->
        <a href="<%= sti_path(current_type(), 'new') %>" class="btn btn-primary">New <%= current_type_name() %></a>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="<%= new_invoice_path %>">New Invoice</a></li>
          <li><a href="<%= new_recurring_invoice_path %>">New Recurring Invoice</a></li>
          <li class="divider"></li>
          <li><a href="<%= new_customer_path %>">New Customer</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->

  </div>
</nav><!-- /.navbar -->
