%nav.navbar.bg-light.siwapp-navbar

  %a.navbar-brand.d-none.d-md-block{:href => root_path}
    = image_tag("logo.svg", alt: "siwapp")

  - if current_user and @search
    = render 'shared/searchform'

  - if current_user
    .siwapp-navbar-scroll
      %a{:class => "nav-item nav-link #{active_link('invoices')}", :href => invoices_path}=t("invoices")
      %a{:class => "nav-item nav-link #{active_link('recurring_invoices')}", :href => recurring_invoices_path}=t("recurring invoices")
      %a{:class => "nav-item nav-link #{active_link('customers')}", :href => customers_path}=t("customers") 
      .nav-item.dropdown
        %a{:class => "nav-link dropdown-toggle #{active_link('settings, series, taxes, templates')}", "data-toggle" => "dropdown", :href => "#"}=t("account")
        .dropdown-menu
          %a.dropdown-item{:href => settings_profile_path}=t("profile")
          .dropdown-divider
          %a.dropdown-item{:href => settings_global_path}=t("global settings") 
          .dropdown-divider
          %a.dropdown-item{:href => series_index_path}=t("series")
          %a.dropdown-item{:href => taxes_path}=t("taxes")
          %a.dropdown-item{:href => templates_path}=t("templates")
          %a.dropdown-item{href: settings_tags_path}=t("tags")
          .dropdown-divider
          %a.dropdown-item{:href => settings_api_token_path}=t("api token")
          .dropdown-divider
          %a.dropdown-item{:href => settings_hooks_path}=t("hooks")
          .dropdown-divider
          = link_to t("log out"), logout_path, method: "delete", class: "dropdown-item"


  #js-navbar.d-none.d-xl-block
    - if current_user
      - if @type
        = link_to "#{t("new")} #{current_type_name()}", sti_path(@type, 'new'), class: "btn btn-primary "
      - else
        = link_to t("new invoice"), new_invoice_path, class: "btn btn-primary"

  .d-xl-none
    - if current_user
      - if @type
        = link_to material_icon.add, sti_path(@type, 'new')
      - else
        = link_to material_icon.add, new_invoice_path 