<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#swp-collapsed-navbar">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="swp-collapsed-navbar">
      <a class="navbar-brand" href="#">siwapp</a>
      <ul class="nav navbar-nav">
        <li class="nav-item <%= active_link('dashboard') %>">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item <%= active_link('invoices') %>">
          <%= link_to 'Invoices', invoices_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= active_link('recurring_invoices') %>">
          <%= link_to 'Recurring Invoices', recurring_invoices_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= active_link('customers') %>">
          <%= link_to 'Customers', customers_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">

          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="nav-item material-icons md-16 margin-4">settings</i>
            <span class="visible-xs-inline">Configuration</span>

            <span class="caret"></span>
          </a>
          <ul class="navbar-nav dropdown-menu" role="menu">
            <li><a href="<%= settings_global_path %>">Global Configuration</a></li>
            <li><a href="<%= settings_my_configuration_path %>">My Configuration</a></li>
            <li class="divider"></li>
            <li><a href="<%= series_index_path %>">Series</a></li>
            <li><a href="<%= taxes_path %>">Taxes</a></li>
            <li><a href="<%= templates_path %>">Templates</a></li>
            <li class="divider"></li>
            <li><a href="#">Modules</a></li>
          </ul>

        </li>
         <li class="nav-item <%= active_link('login')%>">
         <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>

    </ul>
    </div>
    <div class="btn-group navbar-btn navbar-right hidden-xs pull-right">
        <% if current_type() == "Invoice" or current_type == "RecurringInvoice" or current_type == "Customer" %>
          <a href="<%= sti_path(current_type(), 'new') %>" class="btn btn-primary">New <%= current_type_name() %></a>
        <% end %>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="<%= new_invoice_path %>">New Invoice</a></li>
          <li><a href="<%= new_recurring_invoice_path %>">New Recurring Invoice</a></li>
          <li class="divider"></li>
          <li><a href="<%= new_customer_path %>">New Customer</a></li>
        </ul>
      </div>
</nav><!-- /.navbar -->
