<nav class="navbar navbar-fixed-top navbar-light bg-faded siwapp-navbar">
  <div class="nav siwapp-navbar-brand">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo.svg", alt: "siwapp", class: "siwapp-logo") %>
    </a>

    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#js-main-menu">
      <i class="material-icons">menu</i>
    </button>
    <% if @search %>
      <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#js-search-form">
        <i class="material-icons">search</i>
      </button>
    <% end %>
  </div>

  <div class="collapse nav navbar-nav navbar-toggleable-sm" id="js-main-menu">
    <div class="siwapp-navbar-scroll">
      <a class="nav-item nav-link <%= active_link('dashboard') %>" href="/">Home</a>
      <a class="nav-item nav-link <%= active_link('invoices') %>" href="<%= invoices_path %>">Invoices</a>
      <a class="nav-item nav-link <%= active_link('recurring_invoices') %>" href="<%= recurring_invoices_path %>">Recurring Invoices</a>
      <a class="nav-item nav-link <%= active_link('customers') %>" href="<%= customers_path %>">Customers</a>

      <div class="nav-item dropdown hidden-sm-down">
        <a class="nav-link dropdown-toggle <%= active_link('settings') %>" href="#" data-toggle="dropdown">Settings</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="<%= settings_my_configuration_path %>">My Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= settings_global_path %>">Global Settings</a>
          <a class="dropdown-item" href="<%= series_index_path %>">Series</a>
          <a class="dropdown-item" href="<%= taxes_path %>">Taxes</a>
          <a class="dropdown-item" href="<%= templates_path %>">Templates</a>
        </div>
      </div>
      <a class="nav-item nav-link dropdown-toggle hidden-md-up <%= active_link('settings') %>" href="#js-settings-menu" data-toggle="collapse">Settings</a>
    </div>

    <div class="collapse nav navbar-nav siwapp-navbar-scroll" id="js-settings-menu">
      <a class="nav-item nav-link" href="<%= settings_my_configuration_path %>">My Account</a>
      <a class="nav-item nav-link" href="<%= settings_global_path %>">Global Settings</a>
      <a class="nav-item nav-link" href="<%= series_index_path %>">Series</a>
      <a class="nav-item nav-link" href="<%= taxes_path %>">Taxes</a>
      <a class="nav-item nav-link" href="<%= templates_path %>">Templates</a>
    </div>
  </div>

  <% if @search %>
    <%= render 'shared/searchform' %>
  <% end %>
</nav>
