%nav.navbar.navbar-fixed-top.navbar-light.bg-faded.siwapp-navbar

  #js-navbar.nav.siwapp-navbar-brand
    - if current_user
      .pull-xs-right
        %button.btn.btn-navbar.navbar-toggler.hidden-md-up.pull-xs-right{type: "button", data: {target: "#js-main-menu", toggle: "collapse"}}
          %i.material-icons menu

        - if @type
          = link_to "New #{current_type_name()}", sti_path(@type, 'new'), class: "btn btn-primary hidden-md-down pull-sm-right m-l-1"
          = link_to sti_path(@type, 'new'), class: "btn btn-navbar hidden-lg-up pull-xs-right" do
            %i.material-icons add
        - else
          = link_to "New Invoice", new_invoice_path, class: "btn btn-primary hidden-md-down pull-sm-right m-l-1"
          = link_to new_invoice_path, class: "btn btn-navbar hidden-lg-up pull-xs-right" do
            %i.material-icons add

        - if @search
          %button.btn.btn-navbar.navbar-toggler.pull-xs-right.hidden-xl-up{type: "button", data: {target: "#js-search-form", toggle: "collapse"}}
            %i.material-icons search

    %a.navbar-brand{:href => "/"}
      = image_tag("logo.svg", alt: "siwapp")

  #js-main-menu.collapse.nav.navbar-nav.navbar-toggleable-sm.siwapp-navbar-menu
    - if current_user
      .siwapp-navbar-scroll
        %a{:class => "nav-item nav-link #{active_link('dashboard')}", :href => "/"} Dashboard
        %a{:class => "nav-item nav-link #{active_link('invoices')}", :href => invoices_path} Invoices
        %a{:class => "nav-item nav-link #{active_link('recurring_invoices')}", :href => recurring_invoices_path} Recurring Invoices
        %a{:class => "nav-item nav-link #{active_link('customers')}", :href => customers_path} Customers
        .nav-item.dropdown.hidden-sm-down
          %a{:class => "nav-link dropdown-toggle #{active_link('settings, series, taxes, templates')}", "data-toggle" => "dropdown", :href => "#"} Account
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{:href => settings_profile_path} Profile
            .dropdown-divider
            %a.dropdown-item{:href => settings_global_path} Global Settings
            %a.dropdown-item{:href => settings_smtp_path} SMTP Settings
            .dropdown-divider
            %a.dropdown-item{:href => series_index_path} Series
            %a.dropdown-item{:href => taxes_path} Taxes
            %a.dropdown-item{:href => templates_path} Templates
            .dropdown-divider
            %a.dropdown-item{:href => settings_api_token_path} API Token
            .dropdown-divider
            %a.dropdown-item{:href => settings_hooks_path} Hooks
            .dropdown-divider
            = link_to 'Log out', logout_path, method: "delete", class: "dropdown-item"
        %a{href: "#js-settings-menu", class: "nav-item nav-link dropdown-toggle hidden-md-up #{active_link('settings')}", data: {toggle: "collapse", target: "#js-settings-menu"}} Account

      #js-settings-menu.collapse.nav.navbar-nav.siwapp-navbar-scroll.hidden-md-up
        %a.nav-item.nav-link{:href => settings_profile_path} Profile
        %a.nav-item.nav-link{:href => settings_global_path} Global Settings
        %a.nav-item.nav-link{:href => settings_smtp_path} SMTP Settings
        %a.nav-item.nav-link{:href => series_index_path} Series
        %a.nav-item.nav-link{:href => taxes_path} Taxes
        %a.nav-item.nav-link{:href => templates_path} Templates
        %a.nav-item.nav-link{:href => settings_api_token_path} API Token
        = link_to 'Log out', logout_path, method: "delete", class: "nav-item nav-link"

  - if current_user and @search
    = render 'shared/searchform'
