    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar navbar-light bg-faded navbar-fixed-top">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#sw-main-menu">
        &#9776;
      </button>

      <div class="collapse navbar-toggleable-xs" id="sw-main-menu">
        <a class="navbar-brand" href="#">siwapp</a>
        <ul class="nav navbar-nav" id="main-menu">
          <li class="nav-item "><a href="#" class="nav-link <%= active_link('dashboard') %>">Dashboard</a></li>
          <li class="nav-item"><%= link_to 'Invoices', invoices_path, {class: "nav-link  #{active_link('invoices')}"} %></li>
          <li class="nav-item"><%= link_to 'Recurring Invoices', recurring_invoices_path, {class: "nav-link #{active_link('recurring_invoices')}"} %></li>
          <li class="nav-item"><%= link_to 'Customers', customers_path, {class: "nav-link #{active_link('customers')}"} %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="visible-xs-inline">Configuration</span>
              <span class="hidden-xs glyphicon glyphicon-cog"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="nav-link" href="#">Global Configuration</a></li>
              <li><a class="nav-link" href="#">My Configuration</a></li>
              <li class="divider"></li>
              <li><a class="nav-link" href="<%= series_index_path %>">Series</a></li>
              <li><a class="nav-link" href="<%= taxes_path %>">Taxes</a></li>
              <li><a class="nav-link" href="<%= templates_path %>">Templates</a></li>
              <li class="divider"></li>
              <li><a class="nav-link" href="#">Modules</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown pull-right">
          <!-- TODO: This is going to break in a different controller like configuration 
           (@ecoslado: In fact, I had to put this uggly "if" to make it to work in login -->
          <% if current_type() != "Session" %>
            <a href="<%= sti_path(current_type(), 'new') %>" class="btn btn-primary">New <%= current_type_name() %></a>
          <% end %>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="nav-link" href="<%= new_invoice_path %>">New Invoice</a></li>
            <li><a class="nav-link" href="<%= new_recurring_invoice_path %>">New Recurring Invoice</a></li>
            <li class="divider"></li>
            <li><a class="nav-link" href="<%= new_customer_path %>">New Customer</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </nav>
      
        
      
     
      
        
    

  