= search_form_for @search, html: {class: "siwapp-search-form d-none d-lg-block", id: "js-search-form"} do |f|

  .siwapp-input-search
    %button.btn.btn-light.material-icons{"data-target" => "#js-search-filters", "data-toggle" => "collapse", :type => "button"} expand_more
    = f.text_field :with_terms, class: 'form-control', placeholder: 'Search...', title: 'Search by Customer, Email or VAT ID'
    %button.btn.btn-primary.material-icons{:type => "submit"} search
  .siwapp-search-filters
    #js-search-filters.collapse.siwapp-search-filters__content.bg-light

      = render 'searchform__filters', f: f

      // In order to filter by meta_attributes
      // we do this out of ransack
      .row
        .col-6
          .form-group
            = label_tag :tag_list, "tags"
            = select_tag :tag_list, options_for_select(@tags, params[:tag_list]), {class: 'tags-selector', multiple: true, data: {role: 'tagging'}}
        .col-6
          .form-group
            = label_tag :meta
            = text_field_tag :meta, "", class: "form-control"

      .row.justify-content-end
        .col-6.text-right
          = link_to t("export to csv"), '#', class: 'btn btn-primary', data: {role: 'csv-form'}
          %button.btn.btn-primary.float-xs-right{type: 'submit'}=t("search")
