%h1 Global Settings

.row
  .col-xs-12.col-md-6.col-xl-4
    =form_for @global_settings, url: settings_global_path, method: :put, :html => {id: 'global-settings'}  do |f|
      - if @global_settings.errors.any?
        #error_explanation
          %h2
            = pluralize @global_settings.errors.count, "error"
            prohibited these settings from being saved:
          %ul
            - @global_settings.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label :company_name, "Company Name:"
        = f.text_field :company_name, class: 'form-control'
      .form-group
        = f.label :company_vat_id, "Company VAT ID:"
        = f.text_field :company_vat_id, class: 'form-control'
      .form-group
        = f.label :company_address, "Company Address:"
        = f.text_area :company_address, class: 'form-control autosize', rows: '3'
      .form-group
        = f.label :company_phone, "Company Phone:"
        = f.text_field :company_phone, class: 'form-control'
      .form-group
        = f.label :company_email, "Company Email:"
        = f.email_field :company_email, class: 'form-control'
      .form-group
        = f.label :company_url, "Company Website:"
        = f.url_field :company_url, class: 'form-control'
      .form-group
        = f.label :company_logo, "Company Logo:"
        = f.url_field :company_logo, class: 'form-control'
      .form-group
        = f.label :currency, "Currency:"
        = f.collection_select :currency, Money::Currency.all, :id, :iso_code, {}, {class: 'form-control c-select'}

      .form-group
        = f.label :legal_terms, "Legal Terms:"
        = f.text_area :legal_terms, class: 'form-control autosize', rows: '3'

      .form-group
        = f.label :days_to_due, "Days to due:"
        = f.number_field :days_to_due, class: 'form-control'

.action-buttons
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}} Save
