%h1=t("hooks")

.row
  .col-xs-12.col-md-6.col-xl-4
    = form_for @hooks_settings, url: settings_hooks_path, method: :put, :html => {id: 'hooks-settings'} do |f|
      - if @hooks_settings.errors.any?
        #error_explanation
          %h2
            = pluralize @hooks_settings.errors.count, "error"
            prohibited these settings from being saved:
          %ul
            - @hooks_settings.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label :event_invoice_generation_url, t(".url to post")
        = f.url_field :event_invoice_generation_url, class: 'form-control'
.row
  .col-xs-12.col-md-6.col-xl-4
    - @logs.each do |i|
      %p{class: i[:level] == 'error' ? 'alert alert-danger' : 'alert alert-info'}
        = i
.row
  .col-xs-12.col-md-6.col-xl-4
    %ul{ class: "pager"}
      - if @logs.previous_page
        %li
          = link_to "Previous", settings_hooks_path(page: @logs.previous_page)
      - if @logs.next_page
        %li
          = link_to "Next", settings_hooks_path(page: @logs.next_page)


.action-buttons{"data-role": "action-buttons"}
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}}=t("save")
