%h1=t("my account")

.row
  .col-xs-12.col-md-6.col-xl-4
    = form_for @user, url: settings_profile_path, method: :put do |f|
      - if @user.errors.any?
        #error_explanation
          %h2
            = pluralize @user.errors.count, "error"
            prohibited these profile settings from being saved:
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label :name, "#{t("name")}:"
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :email, "#{t("email")}:"
        = f.text_field :email, class: 'form-control'
      .form-group
        = label_tag :old_password, "#{t("old")} #{t("password")}:"
        = password_field_tag :old_password, nil, class: 'form-control'
      .form-group
        = f.label :password, "#{t("new")} #{t("password")}:"
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "#{t("new")} #{t("password")} #{t("confirmation")}:"
        = f.password_field :password_confirmation, class: 'form-control'

.action-buttons{"data-role": "action-buttons"}
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}}=t("save")
