%h1 My Account

.row
  .col-xs-12.col-md-6.col-xl-4
    = form_tag("", method: "post") do
      .form-group
        = label_tag "Username:"
        = text_field(:user, :name, class: 'form-control')
      .form-group
        = label_tag("Email:")
        = text_field(:user, :email, class: 'form-control')
      .form-group
        = label_tag(:old_password, "Old Password:")
        = password_field_tag(:old_password, nil, class: 'form-control')
      .form-group
        = label_tag(:new_password, "New Password:")
        = password_field_tag(:new_password, nil, class: 'form-control')
      .form-group
        = label_tag(:new_password2, "New Password Again:")
        = password_field_tag(:new_password2, nil, class: 'form-control')

.action-buttons
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}} Save
