%h1=t("smtp settings")

.row
  .col-xs-12.col-md-6.col-xl-4
    = form_for @smtp_settings, url: settings_smtp_path, method: :put, :html => {id: 'smtp-settings'} do |f|
      - if @smtp_settings.errors.any?
        #error_explanation
          %h2
            = pluralize @smtp_settings.errors.count, "error"
            prohibited these settings from being saved:
          %ul
            - @smtp_settings.errors.full_messages.each do |message|
              %li= message
      %fieldset
        %legend=t("server")

        .form-group
          = f.label :host, "#{t("host")}:"
          = f.text_field :host, class: 'form-control'
        .form-group
          = f.label :port, "#{t("port")}:"
          = f.text_field :port, class: 'form-control'
        .form-group
          = f.label :domain, "#{t("domain")}:"
          = f.text_field :domain, class: 'form-control'

      %fieldset
        %legend=t("authentication")

        .form-group
          = f.label :user, "user:"
          = f.email_field :user, class: 'form-control'
        .form-group
          = f.label :password, "#{t("password")}:"
          = f.text_field :password, class: 'form-control'
        .form-group
          = f.label :authentication, "#{t("authentication")}:"
          = f.select :authentication, [['Plain', 'plain'], ['Login', 'login'], ['CRAM md5', 'cram_md5']], {}, class: 'form-control c-select'
        .checkbox
          %label
            = f.check_box :enable_starttls_auto
            =t("enable")
            %a{href: 'https://en.wikipedia.org/wiki/opportunistic_tls', target: '_blank'} starttls


.action-buttons{"data-role": "action-buttons"}
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}}=t("save")
