%h1="#{t("tags")}"

.row
  = form_tag settings_tags_path, method: :put, id: 'tag-settings' do
    .col-sm
      .table-responsive
        %h2="#{t("invoice")} #{t("tags")}"
        %table.table.table-hover.table-stripped.table-bordered
          %thead
            %tr
              %th.no-wrap="#{t("tag")}#{t("name")}"
              %th.no-wrap="#{t("delete")}?"
          %tbody
            - @common_tags.each do |tag|
              %tr
                %td.no-wrap
                  = hidden_field_tag "tag_ids[]", tag.id
                  = text_field_tag "tags[#{tag.id}][name]", tag.name, class: 'form-control'
                %td.text-center{data: {role: 'select'}}= check_box_tag "tags[#{tag.id}][_delete]", tag.id
    .col-sm
      .table-responsive
        %h2="#{t("customer")} #{t("tags")}"
        %table.table.table-hover.table-stripped.table-bordered
          %thead
            %tr
              %th.no-wrap="#{t("tag")}#{t("name")}"
              %th.no-wrap="#{t("delete")}?"
          %tbody
            - @customer_tags.each do |tag|
              %tr
                %td.no-wrap
                  = hidden_field_tag "tag_ids[]", tag.id
                  = text_field_tag "tags[#{tag.id}][name]", tag.name, class: 'form-control'
                %td.text-center{data: {role: 'select'}}= check_box_tag "tags[#{tag.id}][_delete]", tag.id


.action-buttons{"data-role": "action-buttons"}
  %button.btn.btn-success{type: 'button', data: {role: 'submit-form', target: 'form'}}=t("apply changes")
