<div class="row">
  <div class="col-sm-9">
    <%= f.label :name %> <%= f.text_field :name %><br/>
  </div>
  <div class="col-sm-3">
    <%= f.label :identification, "VAT ID" %> <%= f.text_field :identification %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= f.label :contact_person, "Contact Person" %> <%= f.text_field :contact_person %>
  </div>
  <div class="col-sm-6">
    <%= f.label :email %> <%= f.email_field :email %><br/>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= f.label :invoicing_address, "Invoicing Address" %> <%= f.text_area :invoicing_address %><br/>
  </div>
  <div class="col-sm-6">
    <%= f.label :shipping_address, "Shipping Address" %> <%= f.text_area :shipping_address %><br/>
  </div>
</div>
