.row
  .col-sm-9
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
  .col-sm-3
    .form-group
      = f.label :identification, "VAT ID"
      = f.text_field :identification, class: 'form-control'

.row
  .col-sm-6
    .form-group
      = f.label :contact_person, "Contact Person"
      = f.text_field :contact_person, class: 'form-control'
  .col-sm-6
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'

.row
  .col-sm-6
    .form-group
      = f.label :invoicing_address, "Invoicing Address"
      = f.text_area :invoicing_address, class: 'form-control'
  .col-sm-6
    .form-group
      = f.label :shipping_address, "Shipping Address"
      = f.text_area :shipping_address, class: 'form-control'
