<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %> <%= f.text_field :name %><br/>
    <%= f.label :identification %> <%= f.text_field :identification %>
    <%= f.label :email %> <%= f.text_field :email %><br/>
    <%= f.label :contact_person %> <%= f.text_field :contact_person %><br/>
    <%= f.label :invoicing_address %> <%= f.text_area :invoicing_address %><br/>
    <%= f.label :shipping_address %> <%= f.text_area :shipping_address %><br/>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
