= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message

  .m-b-2
    %h1.m-b-0
      - if @customer.new_record?
        New Customer
      - else
        = @customer
    .checkbox
      %label
        = f.check_box :active
        This customer is active

    = render partial: 'customers/form_fields', locals: {f: f}

  %fieldset.m-b-2
    %legend.m-b-1 Tags
    = render partial: 'shared/tagging_field', locals: {f: f, instance: @customer}

  %fieldset.m-b-2
    %legend.m-b-1 Meta Attributes
    = render partial: 'shared/meta_form', locals: {f: f, instance: @customer}
