= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message
  %p
    = render partial: 'customers/form_fields', locals: {f: f}

  %fieldset.m-b-2
    %legend.m-b-1 Meta
    = render partial: 'shared/meta_form', locals: {f: f, instance: @customer}
