.row
  .col-xs-12.col-xl-8
    .row
      .col-md-6
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
      .col-md-6
        .form-group
          = f.label :identification
          = f.text_field :identification, class: 'form-control'

    .row
      .col-md-6
        .form-group
          = f.label :contact_person
          = f.text_field :contact_person, class: 'form-control'
      .col-md-6
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'

    .row
      .col-md-6
        .form-group
          = f.label :invoicing_address
          = f.text_area :invoicing_address, class: 'form-control autosize', "data-address": "invoice"
      .col-md-6
        .form-group
          = f.label :shipping_address
          = link_to t("form_fields.copy invoicing address"), "#", "id": "js-copy-address", "class": "label-small-link"
          = f.text_area :shipping_address, class: 'form-control autosize', "data-address": "shipping"

    - unless f.object_name == 'customer'
      .row
        .col-md-6
          .form-group
            = f.label :terms
            = f.text_area :terms, class: 'form-control autosize'
        .col-md-6
          .form-group
            = f.label :notes
            = f.text_area :notes, class: 'form-control autosize'
