<div class="row">
  <%= search_form_for @search, html: {id: "searchform"} do |f| %>
    <div class="col-xs-12 col-md-8">
      <%= render 'shared/searchform', f: f %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Identification</th>
        <th>Due</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody class="js-iscroll">
      <% @customers.each do |customer| %>
        <tr data-href="<%= edit_customer_path(customer) %>">
          <td><%= customer.name %></td>
          <td><%= customer.identification %></td>
          <td><%= customer.due.round 2 %></td>
          <td><%= customer.total.round 2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
