%table.table
  %tr
    %td Discount:
    %td= display_money invoice.discount_amount
  %tr
    %td Subtotal:
    %td= display_money invoice.net_amount
  - invoice.taxes.each do |tax, value|
    %tr
      %td= tax
      %td= display_money value
  %tr
    %td Total:
    %td= display_money invoice.gross_amount
