- invoice.set_amounts
%table.table
  %tr
    %td Discount:
    %td= invoice.discount_amount
  %tr
    %td Subtotal:
    %td= invoice.net_amount
  - invoice.taxes.each do |tax, value|
    %tr
      %td= tax
      %td= value
  %tr
    %td Total:
    %td= invoice.gross_amount
