<p id="notice"><%= notice %></p>
Description: <%= @invoice_item.description %> <br/>
Discount: <%= @invoice_item.discount %> <br/>
Quantity: <%= @invoice_item.quantity %> <br/>
U. Cost: <%= @invoice_item.unitary_cost %> <br/>
Taxes:<br/>
<ul>
<% @invoice_item.taxes.each do |tax| %>
<li><%= tax.name %> </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_invoice_invoice_item_path(@invoice) %> |
<%= link_to 'Back', invoice_invoice_items_path(@invoice) %>
