<h1>Payments for <%= @payment.invoice %></h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<ul>
  <li><b>Date:</b> <%= @payment.date %></li>
  <li><b>Invoice:</b> <%= @payment.invoice %></li>
  <li><b>Amount:</b> <%= @payment.amount %></li>
</ul>



<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
