%h1
  Payments for #{@payment.invoice}
%ul
  %li
    %b Date:
    = @payment.date
  %li
    %b Invoice:
    = @payment.invoice
  %li
    %b Amount:
    = display_money @payment.amount, @payment.invoice.currency
= link_to 'Edit', edit_payment_path(@payment)
|
\#{link_to t("back"), :back}
