<% title("Siwapp", "Invoices", @invoice.customer_name)  %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div id="item">
<h2><%= @item.description %></h2>
<p><%= @item.unitary_cost %></p>
<p><%= @item.quantity %></p>
</div>
<%= link_to 'Edit', edit_invoice_item_path(@invoice, @item) %> |
<%= link_to 'Back', invoice_items_path %> 
