= form_for(@tax) do |f|
  - if @tax.errors.any?
    #error_explanation
      %h2
        = pluralize(@tax.errors.count, "error")
        prohibited this tax from being saved:
      %ul
        - @tax.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :value
    = f.number_field :value, class: 'form-control'
  .checkbox
    %label
      = f.check_box :active
      =t("enabled")
  .checkbox
    %label
      = f.check_box :default
      =t("apply to new items by default")
      
