<h1>Listing taxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Percentage</th>
    <th>Active</th>
    <th>Default</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxes.each do |tax| %>
  <tr>
    <td><%= tax.name %></td>
    <td><%= tax.value %></td>
    <td><%= tax.active %></td>
    <td><%= tax.is_default %></td>
    <td><%= link_to 'Show', tax %></td>
    <td><%= link_to 'Edit', edit_tax_path(tax) %></td>
    <td><%= link_to 'Destroy', tax, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tax', new_tax_path %>
