<%= form_for @recurring_invoice, data: {controller: controller_name}, html: {class: 'js-invoice-like'} do |f| %>
  <% if @recurring_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurring_invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @recurring_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :series %> <%= f.collection_select :series_id, @series, :id, :to_s, {include_blank: true} %><br/>
    <%= f.label :customer_name %> <%= f.text_field :customer_name %><br/>
    <%= f.label :customer_email %> <%= f.email_field :customer_email %><br/>
    <%= f.label :customer_status %> <%= f.check_box :status %><br/>
    <%= f.label :days_to_due %> <%= f.number_field :days_to_due %>
    <%= f.label :starting_date %> <%= f.date_field :starting_date %>
    <%= f.label :finishing_date %> <%= f.date_field :finishing_date %><br/>
    <%= f.label :max_occurrences %> <%= f.number_field :max_occurrences %><br/>
    <%= f.label :period %> <%= f.number_field :period %>
    <%= f.label :period_type %> <%= f.select(:period_type, RecurringInvoice::PERIOD_TYPES) %>
  </p>

  <%= render partial: 'shared/tagging_field', locals: {f: f, instance: @recurring_invoice} %>
  <%= render partial: 'shared/item_form', locals: {f: f, items: :items} %>

  <div class="actions">
    <%= f.submit %>
  </div>

<div id="amounts">
  <%= render partial: 'amounts', locals: {invoice: @recurring_invoice} %>
</div>
<% end %>
