= form_for @recurring_invoice, data: {role: 'invoice', controller: controller_name, model: controller_name.classify.underscore}, html: {class: 'invoice'} do |f|

  - if @recurring_invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@recurring_invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @recurring_invoice.errors.full_messages.each do |message|
          %li= message

  %fieldset.m-b-2
    %legend.m-b-1=t("customer")
    = render partial: 'customers/form_fields', locals: {f: f}
    = f.hidden_field :customer_id

  %fieldset.m-b-2
    %legend.m-b-1=t("configuration")

    .row
      .col-xs-12.col-xl-8
        .m-b-2
          .checkbox
            %label
              = f.check_box :enabled
              =t(".enable_invoice")
          .checkbox
            %label
              = f.check_box :sent_by_email
              =t(".auto_send")

        .row
          .col-sm-6
            .form-group
              = f.label :starting_date
              = f.date_field :starting_date, class: 'form-control'
          .col-sm-6
            .form-group
              = f.label :finishing_date
              = f.date_field :finishing_date, class: 'form-control'

        .row
          .col-sm-6
            .form-group
              = f.label :period
              = f.number_field :period, class: 'form-control'
          .col-sm-6
            .form-group
              = f.label :period_type
              = f.select :period_type, RecurringInvoice::PERIOD_TYPES, {}, {class: 'form-control c-select'}

        .row
          .col-sm-6
            .form-group
              = f.label :max_occurrences
              = f.number_field :max_occurrences, class: 'form-control'

  %fieldset.m-b-2{"data-changes" => "amount"}
    %legend.m-b-1="#{t("invoice")} #{t("details")}"
    .row
      .col-xs-12.col-xl-12
        .row
          .col-sm-4
            .form-group
              = f.label :series
              = f.collection_select :series_id, Series.enabled, :id, :to_s, {}, {class: 'form-control c-select'}
          .col-sm-4
            .form-group
              = f.label :days_to_due
              = f.number_field :days_to_due, class: 'form-control'
          .col-sm-4
            .form-group
              = f.label :currency
              = f.collection_select :currency, Money::Currency.all, :id, :iso_code, {}, {class: 'form-control c-select'}

    = render partial: 'shared/item_form', locals: {f: f, items: :items, invoice: @recurring_invoice}

  %fieldset.m-b-2
    %legend.m-b-1=t("tags")
    = render partial: 'shared/tagging_field', locals: {f: f, instance: @recurring_invoice}

  %fieldset.m-b-2
    %legend.m-b-1 Meta Attributes
    = render partial: 'shared/meta_form', locals: {f: f, instance: @recurring_invoice}
