<%= form_for(@recurring_invoice) do |f| %>
  <% if @recurring_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurring_invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @recurring_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :serie %> <%= f.collection_select :serie_id, @series, :id, :name, {include_blank: true} %><br/>
    <%= f.label :customer_name %> <%= f.text_field :customer_name %><br/>
    <%= f.label :customer_email %> <%= f.email_field :customer_email %><br/>
    <%= f.label :due_date %> <%= f.date_field :due_date %>
    <%= f.label :starting_date %> <%= f.date_field :starting_date %>
    <%= f.label :finishing_date %> <%= f.date_field :finishing_date %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
