= form_for @recurring_invoice, data: {controller: controller_name, model: controller_name.classify.underscore}, html: {class: 'js-invoice-like'} do |f|
  - if @recurring_invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@recurring_invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @recurring_invoice.errors.full_messages.each do |message|
          %li= message
  %p
    = render partial: 'customers/form_fields', locals: {f: f}
    = f.label :id, "Customer id (this will be hidden)"
    = f.text_field :customer_id
    = f.label :status
    = f.check_box :status
    %br/
    = f.label :days_to_due
    = f.number_field :days_to_due
    = f.label :series
    = f.collection_select :series_id, @series, :id, :to_s
    %br/
    = f.label :starting_date
    = f.date_field :starting_date
    = f.label :finishing_date
    = f.date_field :finishing_date
    %br/
    = f.label :max_occurrences
    = f.number_field :max_occurrences
    %br/
    = f.label :period
    = f.number_field :period
    = f.label :period_type
    = f.select(:period_type, RecurringInvoice::PERIOD_TYPES)
  = render partial: 'shared/tagging_field', locals: {f: f, instance: @recurring_invoice}
  = render partial: 'shared/item_form', locals: {f: f, items: :items, invoice: @recurring_invoice}
  .actions
    = f.submit
