%tr{data: {href: edit_recurring_invoice_path(recurring_invoice), itemid: recurring_invoice.id, page_start: recurring_invoice_counter.zero?, page: current_page}}
  %td.table-select{"data-no-href": ""}= check_box_tag "recurring_invoice_ids[]", recurring_invoice.id, false, {"data-role": "select-row"}
  %td= recurring_invoice.series.value if recurring_invoice.series
  %td.no-wrap= recurring_invoice
  %td.no-wrap
    = recurring_invoice.period
    = recurring_invoice.period_type
  %td.text-center
    - if recurring_invoice.enabled
      = material_icon.done.css_class('green')
    - else
      = material_icon.clear.css_class('red')
  %td.text-center
    - if recurring_invoice.sent_by_email
      = material_icon.done.css_class('green')
    - else
      = material_icon.clear.css_class('red')
  %td.text-right.no-wrap= display_money recurring_invoice.gross_amount, recurring_invoice.currency
