<tr>
  <td><%= link_to recurring_invoice, recurring_invoice %></td>
  <td><%= recurring_invoice.customer_name %></td>
  <td><%= link_to 'Show', recurring_invoice %></td>
  <td><%= link_to 'Edit', edit_recurring_invoice_path(recurring_invoice) %></td>
  <td><%= link_to 'Destroy', recurring_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
