<tr class="clickable-row" data-href="<%= edit_recurring_invoice_path(recurring_invoice) %>">
  <td><%= link_to recurring_invoice.customer_name, recurring_invoice %></td>
  <td><%= recurring_invoice %></td>
  <td><%= recurring_invoice.period_type %></td>
  <td><%= recurring_invoice.period %></td>
  <td><%= recurring_invoice.get_status %></td>
</tr>
