<p>
  <%= f.label :starting_date_gteq, "Starting Date from: " %>
  <%= f.date_field :starting_date_gteq %>
  <%= f.label :starting_date_lteq, "to: " %>
  <%= f.date_field :starting_date_lteq %>
</p>
<p>
  <%= f.label :finishing_date_gteq, "Finishing Date from: " %>
  <%= f.date_field :finishing_date_gteq %>
  <%= f.label :finishing_date_lteq, "to: " %>
  <%= f.date_field :finishing_date_lteq %>
</p>
<p>
  <%= f.label :last_execution_date_gteq, "Last Execution Date from: " %>
  <%= f.date_field :last_execution_date_gteq %>
  <%= f.label :last_execution_date_lteq, "to: " %>
  <%= f.date_field :last_execution_date_lteq %>
</p>
<%= render 'shared/searchform__tagsfield' %>
<p>
  <%= f.label :series_id_eq, "Series:" %>
  <%= f.collection_select :series_id_eq, Series.all, "id", "name", include_blank: true %>
</p>

<p><b>TODO:</b></p>
<ul>
  <li>Search by status (draft + enabled + disabled + pending)</li>
  <li>Search by item description in the with_terms scope</li>
  <li>Use a pretty selector for date range search. Create a partial to reuse it.</li>
  <li>Try to use <a href="https://github.com/rails/arel">Arel</a> instead of SQL conditions (evaluate benefits)</li>
  <li>Column sorting</li>
</ul>
