<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8">
    <p>TOTAL RECURRING: 10€</p>
  </div>

  <%= search_form_for @search, html: {id: "searchform"} do |f| %>
    <div class="col-xs-12 col-md-8 col-md-pull-4">
      <%= render 'shared/searchform', f: f, with_filters: true %>
    </div>
    <div id="searchform__filters" class="col-xs-12 collapse">
      <%= render 'searchform__filters', f: f %>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Series</th>
      <th>Frecuency</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @recurring_invoices %>
  </tbody>
</table>
