<% content_for :advanced_search do %>
<div id="searchOptions" class="container-fluid" style="display: none;">
  <p>Advanced Search Options for Recurring Invoices</p>
  <%= form_for_filterrific @filterrific, html: {id: "my_filterrific_filter"} do |f| %>
  <div class="form-group">
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
    :search_query,
    class: 'no-filterrific-periodically-observed',
    placeholder: 'Search'
    ) %>
  </div>
  <div class="form-group">
    Serie
    <%= f.select(
      :with_serie_id,
      @filterrific.select_options[:with_serie_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div class="btn-group">
    <%= f.submit 'Filter', class: "btn btn-primary" %>
  </div>
  <div class="btn-group">
    <%= link_to(
    'Reset filters',
    reset_filterrific_url,
    ) %>
  </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>

</div>
<% end %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= link_to 'New Recurring Invoice', new_recurring_invoice_path %>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Series</th>
      <th>Period Type</th>
      <th>Frecuency</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @recurring_invoices %>
  </tbody>
</table>
