.section-hd
  %h1
    - if @customer
      = "Recurring Invoices for #{@customer}"
    - else
      Recurring Invoices
    %small.text-muted
      = "(#{@count} found)"

    - if @any_invoices_to_be_built
      = link_to "Build Pending Invoices", generate_recurring_invoices_path, :method => :post, class: "btn btn-sm btn-primary"
    - else
      %span.btn.btn-sm.btn-secondary.disabled Build Pending Invoices

  %button#js-section-info-button.btn.dropdown-toggle.section-hd__action{type: "button", data: {toggle: "collapse", target: "#js-section-info"}}= display_money @gross

#js-section-info.section-summary.collapse
  #js-invoices-chart.chart-height-sm
  %ul.list-group.list-unstyled
    %li
      Total Gross
      %span.label.label-default.label-pill.pull-right= display_money @gross
    %li
      Total Net
      %span.label.label-default.label-pill.pull-right= display_money @net
    %li
      Total Tax
      %span.label.label-default.label-pill.pull-right= display_money @tax

= form_tag remove_recurring_invoices_path, method: :delete, id: 'js-list-form' do
  %div{data: {role: 'infinite-scroll'}}
    .table-responsive
      %table.table.table-hover.table-striped.table-bordered
        %thead
          %tr
            %th.table-select= check_box_tag "select_all", 1, false, {"data-role": "select-all-rows"}
            %th= sort_link(@search, :series_value, "Series")
            %th.no-wrap= sort_link(@search, :name, "Customer")
            %th.no-wrap= sort_link(@search, :period_type, "Frecuency")
            %th.text-center= sort_link(@search, :enabled, "Enabled")
            %th.text-center= sort_link(@search, :sent_by_email, "Send Email")
            %th.text-right= sort_link(@search, :gross_amount, "Total")
        %tbody{data: {role: 'infinite-content'}}= render @recurring_invoices, current_page: @recurring_invoices.current_page
    .content-loading.hide{data: {role: 'infinite-status'}}
      .spinner

.action-buttons{"data-role": "action-buttons"}
  = link_to 'Delete', '#', class: 'btn btn-danger pull-xs-left', data: {confirm: 'Are you sure?', role: 'submit-form', target: '#js-list-form'}
