.section-hd
  %h1
    - if @customer
      = "recurring invoices for #{@customer}"
    - else
      =t("recurring invoices")
    %small.text-muted
      = "(#{@count} #{t("found")})"

  %button#js-section-info-button.btn.dropdown-toggle.section-hd__action{type: "button", data: {toggle: "collapse", target: "#js-section-info"}}= display_money @gross

#js-section-info.section-summary.collapse
  #js-invoices-chart.chart-height-sm
  %ul.list-group.list-unstyled
    %li
      total gross
      %span.label.label-default.label-pill.float-right= display_money @gross
    %li
      total net
      %span.label.label-default.label-pill.float-right= display_money @net
    %li
      total tax
      %span.label.label-default.label-pill.float-right= display_money @tax

= form_tag remove_recurring_invoices_path, method: :delete, id: 'js-list-form' do
  %div{data: {role: 'infinite-scroll'}}
    .table-responsive
      %table.table.table-hover.table-striped.table-bordered
        %thead
          %tr
            %th.table-select= check_box_tag "select_all", 1, false, {"data-role": "select-all-rows"}
            %th= sort_link(@search, :series_value, t("series"))
            %th.no-wrap= sort_link(@search, :name, t("customer"))
            %th.no-wrap= sort_link(@search, :period_type, t("frecuency"))
            %th.text-center= sort_link(@search, :enabled, t("enabled"))
            %th.text-center= sort_link(@search, :sent_by_email, t("send email"))
            %th.text-right= sort_link(@search, :gross_amount, t("total"))
        %tbody{data: {role: 'infinite-content'}}= render @recurring_invoices, current_page: @recurring_invoices.current_page
    .content-loading.hide{data: {role: 'infinite-status'}}
      .spinner

.action-buttons.build-pending-invoices
  %div{"data-role": "action-buttons"}
    = link_to t("delete"), '#', class: 'btn btn-danger float-xs-left', data: {confirm: 'are you sure?', role: 'submit-form', target: '#js-list-form'}
  - if @any_invoices_to_be_built
    = link_to t(".build pending invoices"), generate_recurring_invoices_path, :method => :post, class: "btn btn-primary"
  - else
    %span.btn.btn-secondary.disabled=t(".build pending invoices")
