<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8">
    <ul class="list-group list-unstyled">
      <li>Total Recurring <span class="label label-default label-pill pull-right">10 €</span></li>
    </ul>
  </div>
  <% if @has_pendings %>
  <div><%= link_to 'Build Pending Invoices', generate_recurring_invoices_path, :method => :post %><%= @get_pendings %></div>
  <% end %>
</div>

<%= form_tag remove_recurring_invoices_path, :method => :delete do -%>
  <%= submit_tag 'Remove Selected' %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= check_box_tag "check_all" %>
          <th><%= sort_link(@search, :series_value, "Series") %></th>
          <th><%= sort_link(@search, :name, "Customer") %></th>
          <th><%= sort_link(@search, :period_type, "Frecuency") %></th>
          <th><%= sort_link(@search, :status, "Status") %></th>
          <th style="text-align:right;"><%= sort_link(@search, :gross_amount, "Total")%></th>
        </tr>
      </thead>

      <tbody class="js-iscroll">
        <%= render @recurring_invoices %>
      </tbody>
    </table>
  </div>
<% end %>
