.section-hd
  %h1 Recurring Invoices
  %button#js-section-info-button.btn.dropdown-toggle.section-hd__action{type: "button", data: {toggle: "collapse", target: "#js-section-info"}} €10,000,000

#js-section-info.section-summary.collapse
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere inventore aliquam voluptatem quaerat et, at illum cum similique magni. Quam recusandae illum ut vero enim, praesentium a perferendis porro tempore?

- if @has_pendings
  %div
    = link_to 'Build Pending Invoices', generate_recurring_invoices_path, :method => :post
    = @get_pendings


= form_tag remove_recurring_invoices_path, method: :delete, id: 'js-list-form' do
  %div{data: {role: 'infinite-scroll'}}
    .table-responsive
      %table.table.table-hover.table-striped.table-bordered
        %thead
          %tr
            %th{data: {role: "select-all"}}= check_box_tag "select_all", 1
            %th= sort_link(@search, :series_value, "Series")
            %th.no-wrap= sort_link(@search, :name, "Customer")
            %th.no-wrap= sort_link(@search, :period_type, "Frecuency")
            %th.text-center= sort_link(@search, :status, "Status")
            %th.text-right= sort_link(@search, :gross_amount, "Total")
        %tbody{data: {role: 'infinite-content'}}= render @recurring_invoices
    .content-loading.hide{data: {role: 'infinite-status'}}
      .spinner

.action-buttons
  = link_to 'Delete', '#', class: 'btn btn-danger pull-xs-left', data: {confirm: 'Are you sure?', role: 'submit-form', target: '#js-list-form'}
