<%= render partial: 'advanced_search', locals: {filterrific: @filterrific} %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% content_for :new_link do %>
<a class="btn btn-primary" href="<%= new_recurring_invoice_path %>" role="button">New Recurring Invoice</a>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Series</th>
      <th>Period Type</th>
      <th>Frecuency</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody class="js-iscroll">
    <%= render @recurring_invoices %>
  </tbody>
</table>
