<% title("Siwapp", "Recurring Invoices", @recurring_invoice.customer_name)  %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p><%= @recurring_invoice %></p>
<p><%= @recurring_invoice.customer_name %></p>
<ul id="items">
  <% @recurring_invoice.items.each do |item| %>
    <li><%= item.id %> - <%= link_to item.description, [@recurring_invoice, item] %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_recurring_invoice_path(@recurring_invoice) %> |
<%= link_to 'Back', recurring_invoices_path %> |
<%= link_to 'New Item', new_invoice_item_path(@recurring_invoice) %>
