<% title("Siwapp", "Recurring Invoices", @recurring_invoice.name)  %>
<p><%= @recurring_invoice %></p>
<p>Frequency: Every <%= @recurring_invoice.period %> <%= @recurring_invoice.period_type %><p>
<p>Status: <%= @recurring_invoice.get_status %></p>
<ul id="items">
  <% @recurring_invoice.items.each do |item| %>
    <li><%= item.description %></li>
  <% end %>
</ul>
<%= link_to 'Edit Recurring Invoice', edit_recurring_invoice_path(@recurring_invoice) %> |
<%= link_to 'Back', recurring_invoices_path %>
<%= link_to "Delete Recurring Invoice", recurring_invoice_path(@recurring_invoice),
  method: :delete,
  data: { confirm:
    "Are you sure you want to delete this project?"
  }
%>

