<%= form_for(@serie) do |f| %>
  <% if @serie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serie.errors.count, "error") %> prohibited this serie from being saved:</h2>

      <ul>
      <% @serie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %> <%= f.text_field :name %><br/>
    <%= f.label :value %> <%= f.text_field :value %><br/>
    <%= f.label :first_number %> <%= f.number_field :first_number %><br/>
    <%= f.label :enabled %> <%= f.check_box :enabled %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
