= form_for(@series) do |f|
  - if @series.errors.any?
    #error_explanation
      %h2
        = pluralize(@series.errors.count, "error")
        prohibited this series from being saved:
      %ul
        - @series.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :value
    = f.text_field :value, class: 'form-control'
  .form-group
    = f.label :first_number
    = f.number_field :first_number, class: 'form-control'
  .checkbox
    %label
      = f.check_box :enabled
      Enabled

