%h1 Series

= form_tag url_for(:controller => "series", :action => "set_default"), :method => :post, :class => "change_default" do

  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %th.table-select Default
        %th Name
        %th Value
        %th First Number
        %th.text-center Enabled
      %tbody
        - @series.each do |series|
          %tr
            %td.table-select= radio_button_tag 'default_series', series.id, checked=series.default, {"data-role": "select-default"}
            %td= link_to series.name, edit_series_path(series)
            %td= series.value
            %td= series.first_number
            %td.text-center
              - if series.enabled
                %i.material-icons.green  done
              - else
                %i.material-icons.red  clear
