<h1>Listing Series</h1>
<%= form_tag url_for(:controller => "series", :action => "set_default"), :method => :post do -%>
<%= submit_tag 'Change Default', class: "btn btn-sm btn-primary" %>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @series.each do |series| %>
        <tr>
          <td><label for="default_series_<%= series.id %>"><%= radio_button_tag('default_series', series.id, checked=series.default) %></label></td>
          <td><%= link_to series.name, edit_series_path(series) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<br>