%h1=t("series")

= form_tag url_for(:controller => "series", :action => "set_default"), :method => :post, :class => "change_default" do

  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %th.table-select.text-nowrap=t("default")
        %th=t("name")
        %th=t("value")
        %th=t("first number")
        %th.text-center=t("enabled")
      %tbody
        - @series.each do |series|
          %tr
            %td.table-select= radio_button_tag 'default_series', series.id, checked=series.default, {"data-role": "select-default"}
            %td= link_to series.name, edit_series_path(series)
            %td= series.value
            %td= series.first_number
            %td.text-center
              - if series.enabled
                = material_icon.done.css_class('green')
              - else
                = material_icon.clear.css_class('red')
