<% title "Siwapp", "Series", @series.name %>
<p id="notice"><%= notice %></p>
<p><%= @series.name %>: <%= @series.value %></p>
<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
