<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Siwapp
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="content" class="col-xs-12">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </div>

</body>
</html>
