<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Siwapp
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">siwapp</a>
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav navbar-nav">
          <li class="<%= active_link('dashboard') %>"><a href="#">Dashboard</a></li>
          <li class="<%= active_link('invoices') %>"><%= link_to 'Invoices', invoices_path %></li>
          <li class="<%= active_link('recurring_invoices') %>"><%= link_to 'Recurring Invoices', recurring_invoices_path %></li>
          <li class="<%= active_link('customers') %>"><%= link_to 'Customers', customers_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="visible-xs-inline">Configuration</span>
              <span class="hidden-xs glyphicon glyphicon-cog"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Global Configuration</a></li>
              <li><a href="#">My Configuration</a></li>
              <li class="divider"></li>
              <li><a href="#">Templates</a></li>
              <li class="divider"></li>
              <li><a href="#">Modules</a></li>
            </ul>
          </li>
        </ul>

        <div class="btn-group navbar-btn navbar-right hidden-xs">
          <!-- TODO: This is going to break in a different controller like configuration -->
          <a href="<%= sti_path(current_type(), 'new') %>" class="btn btn-primary">New <%= current_type_name() %></a>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%= new_invoice_path %>">New Invoice</a></li>
            <li><a href="<%= new_recurring_invoice_path %>">New Recurring Invoice</a></li>
            <li class="divider"></li>
            <li><a href="<%= new_customer_path %>">New Customer</a></li>
            <li><a href="<%= new_serie_path %>">New Serie</a></li>
            <li><a href="<%= new_tax_path %>">New Tax</a></li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->

    </div>
  </nav><!-- /.navbar -->

  <div class="container-fluid" role="main">

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-push-8">
        Some useful content here, like totals
      </div>

      <% if @filterrific %>
        <%= form_for_filterrific @filterrific, html: {id: "searchform"} do |f| %>

          <div class="col-xs-12 col-md-8 col-md-pull-4">
            <%= f.label(:terms, "Search Terms", class: "sr-only") %>
            <div class="input-group">

              <% if content_for?(:advanced_search) %>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default --dropup-- --active--" data-toggle="collapse" data-target="#searchform__filters" aria-pressed="false" autocomplete="off">
                    <span class="hidden-xs">Advanced</span>
                    <span class="caret"></span>
                  </button>
                </div>
              <% end %>

              <%= f.text_field(:terms, class: "form-control", placeholder: "Customer, Item description…") %>

              <div class="input-group-btn">
                <a href="<%= reset_filterrific_url() %>" class="btn btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
                </a>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
                  &nbsp;Search
                </button>
              </div>

            </div><!-- .input-group:terms -->
          </div>

          <% if @filterrific and content_for?(:advanced_search) %>
          <div id="searchform__filters" class="col-xs-12 collapse" style="background: red;">
            <%= yield(:advanced_search) %>
          </div>
          <% end %>

        <% end %>
      <% end %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</body>
</html>
