<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Siwapp
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">siwapp</a>
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav navbar-nav">
          <li class="<%= active_link('dashboard') %>"><a href="#">Dashboard</a></li>
          <li class="<%= active_link('invoices') %>"><%= link_to 'Invoices', invoices_path %></li>
          <li class="<%= active_link('recurring_invoices') %>"><%= link_to 'Recurring Invoices', recurring_invoices_path %></li>
          <li class="<%= active_link('customers') %>"><%= link_to 'Customers', customers_path %></li>
        </ul>

        <%= form_tag request.path, method: :get, class: 'navbar-form navbar-left', role: 'search' do %>
          <% if content_for?(:advanced_search) %>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
              <input id="searchOptionsToggle" type="checkbox" autocomplete="off">
              Advanced Options
            </label>
          </div>
          <% end %>
        <% end %>

	<% if @filterrific then %>
	  <%= form_for_filterrific @filterrific, html: {class: "navbar-form navbar-left", id: "basicSearch"} do |f| %>
	  <div class="form-group">
	    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
	    <%= f.text_field(
	    :search_query,
	    class: 'filterrific-periodically-observed form-control',
	    placeholder: 'Search'
	    ) %>
	  </div>
	  <div class="btn-group">
	    <%= f.submit 'Filter', class: "btn btn-primary" %>
	  </div>
	  <div class="btn-group">
	    <%= link_to(
	    'Reset filters',
	    reset_filterrific_url,
	    ) %>
	  </div>
	  <%# add an automated spinner to your form when the list is refreshed %>
	  <%#= render_filterrific_spinner %>
	  <% end %>
	<% end %>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div>
  </nav><!-- /.navbar -->

  <%= yield(:advanced_search) %>

  <div class="container-fluid" role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</body>
</html>
