<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Siwapp
    <% end %>
  </title>

  <%= stylesheet_link_tag    '//fonts.googleapis.com/icon?family=Material+Icons'%>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic'%>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/navbar' %>

  <% if @type %>
  <a href="<%= sti_path(@type, 'new') %>" class="btn btn-primary text-capitalize">New <%= current_type_name() %></a>
  <% else %>
  <a href="<%= new_invoice_path %>" class="btn btn-primary">New Invoice</a>
  <% end %>

  <div class="container-fluid" role="main">

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <%= content_for?(:content) ? yield(:content) : yield %>

  </div>
</body>
</html>
